@media (max-width: 375px) {
    #block_about {
        text-align: center;
        text-wrap: left;
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 40px;
    }
}

#block_about {
    text-align: center;
    text-wrap: left;
    width: 550px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}
